<!-- Default home page -->
<body ng-app='homepage'>
    <div ng-controller='homepageController as homepage'>
    	<div ng-hide='homepage.readyView'>
	        {{homepage.formTitle}}
	        <form ng-submit='homepage.makeGame()'>
	            <input type='text' ng-model='homepage.gameName'></input>
	            <input type='submit' class='btn btn-lg'></input>
	        </form>

	        <ul ng-repeat='game in homepage.gameList' id='{{game.id}}' ng-click='homepage.joinGame(game.id)'>Game Name: {{game.name}}</ul>
        </div>

        <div  ng-controller='gameController as game'>
            <div ng-show='homepage.readyView && !game.gameView'>
                <!-- Add view of who is ready -->
                <button class='btn btn-success' ng-click='game.ready()'>Ready</button>

             </div>

            <div ng-show='game.gameView'>

                <div> Game Name: {{game.name}}      Game Id: {{game.id}} Glasses: {{game.glasses}}    Stacking: {{game.stacking}} Turn: {{game.turn}} Your Turn: {{game.turn % 2 === game.pNum}}      

                    whoseTurn: {{game.turn % 2}}

                    
                    pNum: {{game.pNum}}


                <div id="op_wrap">
                    <div class='hand_wrap'>
                        <p>Opponent's Hand</p>
                        <!-- Cardback when you have no glasses -->
                        <img ng-hide="game.glasses" ng-repeat="card in game.players[(game.pNum + 1) % 2].hand" class='card' id="{{card.id}}" src="images/word-ace-card-back.jpg" alt="{{card.alt}}"></img>
                        <!-- Card front when you have glasses -->
                         <img ng-show="game.glasses" ng-repeat="card in game.players[(game.pNum + 1) % 2].hand" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                    </div>
                    <div class='field_wrap'>
                        <p>Opponent's Field:</p>
                        <div class='runes'>
                            Opponent's Runes:
                            <img ng-repeat="card in game.players[(game.pNum + 1) % 2].runes" class='card' id="{{card.id}}" ng-click="game.selectRune(card)" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                        <div class = 'jacks'>
                                Opponent's Jacks:
                                <div ng-repeat="card in game.opJacks">
                                    <img class='card' id='{{card.id}}' ng-click="game.selectRune(card)" ng-src='{{card.img}}' alt='{{card.alt}}'></img>
                                    {{card.targetAlt}}
                                </div>
                        </div>
                        <div class='points'>
                            Opponent's Points:
                            <img ng-repeat="card in game.players[(game.pNum + 1) % 2].points" class='card' id="{{card.id}}" ng-click="game.selectPoint(card)" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                    </div>
                </div>
                
                <div id='midWrap'>
                    <div class='container-fluid'>
                        <div class='row'>
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'>{{game.deck.length + 2}} Cards in Deck</div>
                            <!-- <div class='span3'></div> -->
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'>{{game.scrap.length}} Cards in Scrap</div>
                            <!-- <div class='span3'></div> -->
                        </div>
                        <div class='row'>
                            <button ng-click='game.showDeck = !game.showDeck'>Toggle Deck</button>
                            <img src='/images/word-ace-card-back.jpg' ng-click="game.draw()" ng-show='game.topCard' class='midCard col-xs-2 col-md-2 col-lg-2 col-sm-2 img-responsive'></img>
                            <img src='/images/emptyDeck.jpg' ng-hide='game.topCard' ng-click="game.pass()" class='midCard col-xs-2 col-md-2 col-lg-2 col-sm-2 img-responsive'></img>
                            <!-- <div class='col-xs-5 col-md-5 col-lg-5 col-sm-5'></div> -->
                            <img ng-src="{{game.scrapTopImg}}"  class='midCard col-md-offset-4 col-xs-2 col-md-2 col-lg-2 col-sm-2 img-responsive' ng-click='game.oneOff()'></img>
                            <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'></div>
                        </div>
                        <div class='row'>
                            <img ng-show='game.topTwoPick' ng-repeat='card in game.topTwo' ng-click='game.select(card, $index)' ng-class='card.class' ng-src='{{card.img}}'></img>
                            <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'></div>
                        </div>
                    </div>
                </div>


                <div id="you_wrap">
                    <div class='field_wrap'>
                        <p>Your Field</p>
                        <div class='runes' ng-click='game.runes()'>
                            Runes:
                            <img ng-repeat="card in game.players[game.pNum].runes" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                        <div class='jacks'>
                            Jacks
                            <div ng-repeat="card in game.yourJacks">
                                <img class='card' id='{{card.id}}' ng-click="game.selectRune(card)" ng-src='{{card.img}}' alt='{{card.alt}}'></img>
                                {{card.targetAlt}}
                            </div>
                        </div>
                        <div class='points' ng-click='game.points()'>
                            Points:
                            <img ng-repeat="card in game.players[game.pNum].points" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                    </div>                
                    <div class='hand_wrap'>
                        <p>Your Hand</p>
                        <img ng-repeat="card in game.players[game.pNum].hand" ng-class='card.class' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}" ng-click="game.select(card, $index)"></img>
                    </div>
                    <p>Scrap Pile:</p>
                    <img ng-show='game.scrapPick' ng-repeat='card in game.scrap' ng-class='card.class' id="{{card.id}}" ng-src='{{card.img}}' alt='{{card.alt}}' ng-click='game.chooseScrap(card)'></img>
                    <p>Open Deck</p>
                    <img ng-show='game.showDeck' ng-repeat='card in game.deck' ng-class='card.class' id="{{card.id}}" ng-src='{{card.img}}' alt='{{card.alt}}' 
                    ng-click='game.placeTopCard(card)'></img>
                </div>      
                <!-- <img ng-repeat='card in game.deck' class='card' id= '{{card.img}}' ng-src="{{card.img}}" alt='{{card.alt}}'></img> -->

                
                </div>
            </div>

    	</div>
    </div>
</body>