<!-- Default home page -->
<body ng-app='homepage'>
    <div ng-controller='homepageController as homepage'>
    	<div ng-hide='homepage.readyView' class='container-fluid'>
    	<h1 id='welcome'>Welcome to Cuttle!</h1>
	        {{homepage.formTitle}}
	        <div class='row'>
	        	<div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'> 
		        	<form ng-submit='homepage.makeGame()'>
	        	    	<input type='text' ng-model='homepage.gameName'></input>
	            		<input type='submit' class='btn btn-lg'></input>
		      	  </form>
					Or Click on a Game to Join it!<br></br>
		        	<ul ng-repeat='game in homepage.gameList' id='{{game.id}}' ng-click='homepage.joinGame(game.id)'>Game Name: {{game.name}}</ul>	 	        	
	        	</div>
	        	<div class='col-xs-6 col-md-6 col-lg-6 col-sm-6' id='ruleBox'>
<h2>Cuttle<h2> 

<p>The exact origin of this unusual two-player game is unknown. It is described in Richard Sipie's [Cuttle FAQ](http://www.geocities.ws/richardsipie/cuttle.htm).

He says he was taught the rules in 1975

Rules taken and cleaned from: <a href='http://www.pagat.com/combat/cuttle.html'>http://www.pagat.com/combat/cuttle.html</a></p>
<br></br>

<h2>Object</h2> 
<p>Cuttle is a game for 2 players, played with a simple 52-card pack.

The aim is to be the first build a layout worth at least 21 points. Cards can be used for their point value, or to attack your opponent's layout by destroying or capturing cards. </p>
<br></br>

<h2>Beginning the Round<h2>

<p>Play begins with the dealer, who deals six cards to himself and five to his opponent. This opponent then takes the first turn.

On a turn, a player may play a card or draw one. If a player has **21 or more** points worth of "point cards" on the table at the end of his turn, that player is victorious - otherwise the turn passes to his opponent.

What do the cards do?</p>
<br></br>

<h2>Legal Moves</h2>
<p>Firstly: Any numbered card (A-10) may be played as a **point card**. In this case, the player puts the card face-up on the table in front of him, and it is worth as many points as the are spots on its face (1 for an ace, etc). </p>
<br></br>
<p>Secondly: Any numbered card (A-10) may be played, instead, as a **scuttle**. In this case, it is played **on top** of a point card which it exceeds in value: Both cards are then moved directly to the scrap pile (**face up**, as is everything there).
	You may scuttle any card of a lower rank, or equal rank and a lower suit than the card played from your hand to perform the scuttle. This means that the Nine of Diamonds can scuttle the Nine of Clubs, or any point card of rank 8, or lower. The Ten
	of Spades is the only point card that cannot be scuttled, and the only card that can scuttle any card played for points.
</p>


<h2>Card Values</h2>
<p>
1. Suit order: (spade, hearts, diamonds, clubs)
2. Rank order: A-2-3-4-5-6-7-8-9-10-J-Q-K
(A helpful way to remember suit order is that they are reverse-alphabetical: **S-H-D-C**)

</p>

<br></br>
<h2>Number Cards</h2>

<p>The numbered cards may all be played as a one-off, **except for the eights and tens.** In this case, they are placed directly into the scrap pile, with the following effects:</p>
<br></br>
<p>Ace: Put all point cards on the table into the scrap pile</p>
<p>Two: Place any non-point card currently on the table into the scrap pile (this means a King, Queen, Jack, or 'glasses' eight. OR 
 Place any one-off just played directly into the scrap pile. This is the only effect that may be played out of turn and must be played IMMEDIATELY as a response to the one off effect being countered.
</p>
<p>Three: Rummage through the scrap pile; take one card of your choice through your hand and reveal it to your opponent(s)</p>
<p>Four: Your opponent must choose 2 cards from her hand to discard directly to the scrap pile</p>
<p>Five: You may draw two cards</p>
<p>Six: Move all non-point cards currently on the table (Kings, Queens, Jacks, and 'glasses eights') into the scrap pile.</p>
<p>Seven: Reveal the top two cards from the deck to all players. Choose one of them to play. Put the other card on top of the deck, then play the chosen card in any legal manner (points, scuttling, one-off, etc)</p>
<p>Nine: Return any card on the table to its controller's (the player on whose side of the table the card resides) hand. That card may NOT be played as that player's next turn.</p>
<p>Ten: Has no effect. It's just 10 points, and the baddest scuttler around</p>

<h2>Eight</h2>

<p>Like all number cards, eights may be played as points, or used to scuttle. Additionally, they may be played as a non-point permanent (a card that stays on the table, granting a passive effect), like a face card. Eights played in this fashion are called 'glasses' eights and are displayed sideways for clarity. While you control a 'glasses' eight, your opponent must play open handed (reveal their hand to you)</p>
<br></br>
<h2>Royalty</h2>
<p>Face cards can only be played on your turn, and count as no points. Each royal grants a passive bonus while you control it (have it on your side of the table)</p>
<p>Jack: Placed on top of a point card (A-10) already on the table. The point card (and the attached jack) are moved across the table and are now controlled by the player that played the jack. The opponent may still play a jack on top of the same card to steal it back (all attached jacks move with the point card), and should any number of jacks be destroyed, the points revert to the control of whoever had them before the jacks just destroyed were first played.</p>
<p>Queen: Played on the table, like a point card. With a Queen in play none of your other cards may be the target of cards that target a single card to apply a unique effect to it. Specifically this prevents your opponents from using any of the one off effects of Two's or Nine's on any of your cards, besides the Queen, herself, and it prevents the use of new jacks on your points, altogether. Notably, Queen's do not protect against scuttling, nor do they remove any jacks already used 
to steal point cards.</p>
<p>King: Played like a Queen. A player with a King in play needs fewer than normal points to win. With one King, the player needs 14 points, with two Kings, 10 points, with three Kings, 7 points, and with all 4 kings, only 5 points. 
(Mathematically, a player needs 21/(1.5^k) points to win, where k is the number of Kings controlled by that player). </p>

<br></br>
<h2>FAQ</h2>
<br></br>
<h3>What happens if the pack is exhausted?</h3>

> Although I am no authority, I can find no other guide to the question online. The rule I have played for twenty-five years is that it is unfair (and dull!) to end the game while a win may still be forced. Therefore, I play that "taking a card" in this situation becomes an effective pass, and that if three of these occur in a row, it is only then that the game is declared a draw.

<p>Can I play a two to "counter" a point card? How about a scuttle?</p>

> The single most common question I am asked :-). Players who are used to Magic: The Gathering are often surprised to find out that this is not allowed - a two is not a universal counterspell. It may only "counter" a one-off, nothing else.

<p>Do Queens protect against "countering" twos?</p>

> The second most common question I am asked :-). The answer is yes: Queens prevent the targetting of any single card controlled by that player, however briefly.

<p>May a two be used to cancel an opponent's two?</p>

> Absolutely! A last-in, first-out order seems the only sensible one to employ - ie in this situation the last-played card (the second two) moves the first to the scrap pile. From there it cannot effect the game, so the original card is played unscathed.

<p>May I use a three to rummage for the three I just played?</p>

> I don't think so. Since cards in the scrap pile do not affect the game, I believe a card sits in a kind of suspension until its effect has been resolved. This also gives clarity to the protection of one-offs by Queens.

<p>Suppose the only point card on the table is mine, and my one-off seven comes up as a Jack. What happens</p>

> To me, the only logical answer is that the card switches sides, with the Jack on top of it!

<p>This game has similarities with Magic: The Gathering!</p>

> It's been remarked on. It does however predate it considerably - I learnt the rules in 1975. A reverse genealogy would be fascinating - I would love to know if Richard Garfield has heard of the game.

<p>An easier way to remember Cuttle effects as a MTG player</p>

piato on Reddit <a href='http://www.reddit.com/r/magicTCG/comments/2ye2yc/theres_a_standard_playing_card_game_from_1975/cp8xzpe'>gave these tips</a>

> "Point cards" are creatures. You win if you have 21 power on the table. J/Q/K are enchantments.

> A: Wrath 2: Dispel / Disenchant (split card) 3: Regrowth 4: Mind Rot 5: Divination 6: Back to Nature 7: Scry 2, then play the top card of the deck any way you can (but you cannot place scried cards on the bottom of the deck, only change their order). 8: Glasses of Urza 9: Boomerang 10: - J: Mind Control Q: Defense Grid + Privileged Position K: Your creatures have power * 1.5

> (Note that the Instant/Sorcery status of those cards isn't quite right - everything in the game is at "sorcery speed" (i.e. on your turn, and the only thing you do on your turn), except for the counterspell mode of 2s. Which makes the counters into Flusterstorms or something, since they can't hit "creatures", scuttles (um, evoking shriekmaw I guess?) or "enchantments".)

<p>The 9 doesn't seem very useful as a one-off:</p>

piato on Reddit <a href='http://www.reddit.com/r/magicTCG/comments/2ye2yc/theres_a_standard_playing_card_game_from_1975/cp99ehj'>says</a>

> I don't know what's going on with the rule for 9s, but they're completely useless as stated. John M (who runs pagat.com, which hosts the Sipie FAQ) suggested that he may have meant "bounce a card and it can't be replayed that turn", which makes a ton more sense.

<br></br>
<h2>Variations</h2>

<p> * Instead of the 4's one-off being a **Choice Discard**, make it a **Random Discard**. It can possibly improves the game once you hit a reasonably high level, putting pressure on 2's and encouraging attacking play. On the other hand, choice 4's are skill-testing when you're just learning the game, so swings and roundabouts I guess. (suggested by <a href='http://www.reddit.com/r/magicTCG/comments/2ye2yc/theres_a_standard_playing_card_game_from_1975/cp99ehj'>piato</a></p>


Credits
-------

Richard Sipie has been playing games since 1951. He also enjoys walking, collecting (especially theatre paraphenalia) and flattery :-). He is happily married and lives in Bloomington, IL.

R.Sipie, 2000 
(do E-mail me!)

[_but the address given - richardsipie@yahoo.com - unfortunately no longer works - JM_]
	        	
	        	 </div>
       
	        </div>
	        
        </div>

        <div  ng-controller='gameController as game'>
            <div ng-show='homepage.readyView && !game.gameView'>
                <!-- Add view of who is ready -->
                <button class='btn btn-success' ng-click='game.ready()'>Ready</button>

             </div>

            <div ng-show='game.gameView'>

                <div> Game Name: {{game.name}}      Game Id: {{game.id}} Glasses: {{game.glasses}}    Stacking: {{game.stacking}} Turn: {{game.turn}} Your Turn: {{game.turn % 2 === game.pNum}}      

                    whoseTurn: {{game.turn % 2}}

                    
                    pNum: {{game.pNum}}


                <div id="op_wrap">
                    <div class='hand_wrap'>
                        <p>Opponent's Hand</p>
                        <!-- Cardback when you have no glasses -->
                        <img ng-hide="game.glasses" ng-repeat="card in game.players[(game.pNum + 1) % 2].hand" class='card' id="{{card.id}}" src="images/word-ace-card-back.jpg" alt="{{card.alt}}"></img>
                        <!-- Card front when you have glasses -->
                         <img ng-show="game.glasses" ng-repeat="card in game.players[(game.pNum + 1) % 2].hand" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                    </div>
                    <div class='field_wrap'>
                        <p>Opponent's Field:</p>
                        <div class='runes'>
                            Opponent's Runes:
                            <img ng-repeat="card in game.players[(game.pNum + 1) % 2].runes" class='card' id="{{card.id}}" ng-click="game.selectRune(card)" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                        <div class = 'jacks'>
                                Opponent's Jacks:
                                <div ng-repeat="card in game.opJacks">
                                    <img class='card' id='{{card.id}}' ng-click="game.selectRune(card)" ng-src='{{card.img}}' alt='{{card.alt}}'></img>
                                    {{card.targetAlt}}
                                </div>
                        </div>
                        <div class='points'>
                            Opponent's Points:
                            <img ng-repeat="card in game.players[(game.pNum + 1) % 2].points" class='card' id="{{card.id}}" ng-click="game.selectPoint(card)" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                    </div>
                </div>
                
                <div id='midWrap'>
                    <div class='container-fluid'>
                        <div class='row'>
                            <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4 col-md-offset-2' ng-show='game.deck.length > 0'>{{game.deck.length + 2}} Cards in Deck</div>
                            <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4 col-md-offset-2' ng-show='game.deck.length === 0 && game.secondCard'>2 Cards in Deck</div>
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6' ng-show='game.deck.length === 0 && !game.secondCard && game.topCard'>1 Card in Deck</div>
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6' ng-show='game.deck.length === 0 && !game.topCard'>No Cards in Deck</div>


                            <!-- <div class='span3'></div> -->
                            <div class='col-xs-5 col-md-5 col-lg-5 col-sm-5 col-md-offset-1'>{{game.scrap.length}} Cards in Scrap</div>
                            <!-- <div class='span3'></div> -->
                        </div>
                        <div class='row'>
                            <button ng-click='game.showDeck = !game.showDeck'>Toggle Deck</button>
                            <img src='/images/word-ace-card-back.jpg' ng-click="game.draw()" ng-show='game.topCard' class='midCard col-xs-2 col-md-2 col-lg-2 col-sm-2 col-md-offset-2 img-responsive'></img>
                            <img src='/images/emptyDeck.jpg' ng-hide='game.topCard' ng-click="game.pass()" class='midCard col-xs-2 col-md-2 col-lg-2 col-sm-2 img-responsive'></img>
                            <!-- <div class='col-xs-5 col-md-5 col-lg-5 col-sm-5'></div> -->
                            <ul class='col-md-2 col-xs-2 col-lg-2 col-md-offset-.5 container-fluid' id='logBox'>
                            	<h2 class='row'><h2 class='col-md-offset-2 col-md-10' id='logTitle'>Game Log</h2></h2>
                            	<div ng-repeat="entry in game.log track by $index"><div class='row'><li class='col-md-12' class='entry'>{{entry}}</li></div></div>
                            </ul>
                            <img ng-src="{{game.scrapTopImg}}"  class='midCard  col-xs-2 col-md-2 col-lg-2 col-sm-2 img-responsive' ng-click='game.oneOff()'></img>
                            <div class='col-xs-3 col-md-3 col-lg-3 col-sm-3'></div>
                        </div>
                        <div class='row'>
                            <img ng-show='game.topTwoPick' ng-repeat='card in game.topTwo' ng-click='game.select(card, $index)' ng-class='card.class' ng-src='{{card.img}}'></img>
                            <div class='col-xs-4.5 col-md-4.5 col-lg-4.5 col-sm-4.5'></div>
                        </div>
                    </div>
                </div>


                <div id="you_wrap">
                    <div class='field_wrap'>
                        <p>Your Field</p>
                        <div class='runes' ng-click='game.runes()'>
                            Runes:
                            <img ng-repeat="card in game.players[game.pNum].runes" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                        <div class='jacks'>
                            Jacks
                            <div ng-repeat="card in game.yourJacks">
                                <img class='card' id='{{card.id}}' ng-click="game.selectRune(card)" ng-src='{{card.img}}' alt='{{card.alt}}'></img>
                                {{card.targetAlt}}
                            </div>
                        </div>
                        <div class='points' ng-click='game.points()'>
                            Points:
                            <img ng-repeat="card in game.players[game.pNum].points" class='card' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
                        </div>
                    </div>                
                    <div class='hand_wrap'>
                        <p>Your Hand</p>
                        <img ng-repeat="card in game.players[game.pNum].hand" ng-class='card.class' id="{{card.id}}" ng-src="{{card.img}}" alt="{{card.alt}}" ng-click="game.select(card, $index)"></img>
                    </div>
                    <p>Scrap Pile:</p>
                    <img ng-show='game.scrapPick' ng-repeat='card in game.scrap' ng-class='card.class' id="{{card.id}}" ng-src='{{card.img}}' alt='{{card.alt}}' ng-click='game.chooseScrap(card)'></img>
                    <p>Open Deck</p>
                    <img ng-show='game.showDeck' ng-repeat='card in game.deck' ng-class='card.class' id="{{card.id}}" ng-src='{{card.img}}' alt='{{card.alt}}' 
                    ng-click='game.placeTopCard(card)'></img>
                </div>      
                <!-- <img ng-repeat='card in game.deck' class='card' id= '{{card.img}}' ng-src="{{card.img}}" alt='{{card.alt}}'></img> -->

                <button class='btn btn-success' ng-click='game.promise()'>Promise</button>
                </div>
            </div>

    	</div>
    </div>
</body>